<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>MakersBnb!</title>
  </head>
  <body>
    <h1 style="text-align:center">Welcome <%= @username %></h1> <br>
    <h2 style="text-algin:center">You have the following rooms</h2><br>

    <%= @room_list %>

    </div>
  </body>
</html>