<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>MakersBnb!</title>
  </head>
  <body>
    <a href='/rooms'>Go back?</a>
    <a href='/account_info' id='account'>Account: <%= @username %></a>
    <h1 style="text-align:center"><%= @room_name %></h1> <br>

    TEST

     <form style="text-align:center" action='/request_room' method='post' id='generic_form_box'>
      <label for="username">Username:</label><br>
      <input type="text" id="input1" value=<%= @username %>><br><br>
      <label for="booked_date_from">Booking Date From:</label><br>
      <input type="date" id="input1" name="booked_date_from"> <br><br>
      <label for="booked_date_to">Booking Date to</label><br>
      <input type="date" id="input1" name="booked_date_to"><br><br>
      <input type="submit" value="Submit">
    </form>

    </div>
  </body>
</html>