<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>MakersBnb!</title>
  </head>
  <body>
    <a href='/rooms'>Go back?</a>
    <a href='/account_info' id='account'>Account: <%= @username %></a>
    <h1 style="text-align:center"><%= @room_name %></h1> <br>

    TEST

    </div>
  </body>
</html>