<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <a href='/login'>Login</a> <br>

  <img src="makers.png" alt="Makers Academy logo" id='logo' style='text-align: center'>

  <h1 style='text-align: center'> Makers BnB </h1>

  <h2 style='text-align: center'> Sign Up </h2>


  <form action='/' method='post' style='text-align: center'>
    <label for="first_name">First name:</label><br>
    <input type="text" name='first_name' id='input1' placeholder= 'first name'><br><br>
    <label for="second_name">Second name:</label><br>
    <input type="text" name='second_name' id='input1' placeholder= 'second name'><br><br>
    <label for="username">Username:</label><br>
    <input type="text" name='username' id='input1' placeholder= 'username'><br><br>
    <label for="password">Password:</label><br>
    <input type="password" name='password' id='input1' placeholder= 'password'><br><br>
    <label for="email">Email address:</label><br>
    <input type="text" name='email' id='input1' placeholder= 'email'><br><br>
    <label for="country">Country:</label><br>
    <input type="text" name='country' id='input1' placeholder= 'country'><br><br>
    <label for="number">Telephone/mobile number:</label><br>
    <input type="number" name='number' id='input1' placeholder= 'number'><br><br>
    <input type="submit" value='Submit'>
  </form>
</body>