<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>MakersBnb!</title>
  </head>
  <body>
    <a href='/list_room'>List a room?</a>
    <a href='/account_info' id='account'>Account: <%= @username %></a>
    <h1 style="text-align:center">List of available rooms</h1> <br>

    <%= @list %>

    </div>
  </body>
</html>