<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>MakersBnb!</title>
  </head>
  <body>
    <h1 style="text-align:center"><%= @room_name %></h1> <br>
    This place is hosted by <%= @owned_by %> <br><br>

    <a href='rooms'>Go back?</a>
    </div>
  </body>
</html>