<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>MakersBnb!</title>
  </head>
  <body>
    <div id='header'>a</div>
    <div id='mainboy'>b</div>
    <div id='footer'>c</div>
    <br><br><br>
    <form action='/' method='post'>
      <input type="text" name='first_name' id='first_name' placeholder= 'first_name'><br>
      <input type="text" name='second_name' id='second_name' placeholder= 'second_name'><br>
      <input type="text" name='username' id='username' placeholder= 'username'><br>
      <input type="password" name='password' id='password' placeholder= 'password'><br>
      <input type="text" name='email' id='email' placeholder= 'email'><br>
      <input type="text" name='country' id='country' placeholder= 'country'><br>
      <input type="number" name='number' id='number' placeholder= 'number'><br>
      <input type="submit" value='Submit'>
    </form>
  </body>
</html>