<head>
<style>
h1 {text-align: center;}
body {background-color: #1DA1F2;}
div {text-align: center;}
</style>
</head>

<h1> Welcome <%= @username %> to Makers Bnb! </h1>

<div>
<a href= '/rooms'> click here to view rooms </a>
</div>