body {
  background-color: #1DA1F2;
}

#list_room_body {
  background-color: rgb(86, 94, 75);
}

#room_list {
  height: 150px;
  width: 500px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  margin: auto;
  border-radius: 5px;
  background: white;
  box-shadow: rgba(254, 205, 211, 0.1) 0px 4px 16px, rgba(254,205,211,0.1) 0px 8px 24px, rgba(254,205,211, 0.1) 0px 16px 56px;
}

#generic_form_box {
  height: 700px;
  width: 500px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  margin: auto;
  border-radius: 5px;
  background: white;
  box-shadow: rgba(254, 205, 211, 0.1) 0px 4px 16px, rgba(254,205,211,0.1) 0px 8px 24px, rgba(254,205,211, 0.1) 0px 16px 56px;
}

#room_description {
  height: 100px;
  width: 400px;
}

#account {
  float: right;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

#input1 {
  width: 250px;
  height: 25px;
}

label {
  font-size: large;
}